.topping {
    position: relative;
    height: 320px;
    overflow: hidden;
    text-align: center;
}

.topping__text {
    font-family: jhr;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate( -50%, -50% );
}

.content {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 70px auto 100px;
}

.lnbWrap2 {
    margin: -95px auto 50px;
    background: #fff;
    width: 100%;
    max-width: 1200px;
    position: Relative;
}

.lnbWrap2>ul {
    width: 100%;
    margin: 0 auto;
}

.lnbWrap2>ul>li {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #666;
}

.lnbWrap2>ul>li:first-child {
    background: #226240;
    border: 1px solid #226240;
    color: #fff;
}

.lnbWrap2>ul>li:first-child a {
    color: #fff;
}

.lnbWrap2 a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #666;
}

/* 메인토핑 */
.menu__list {
    padding: 0;
    text-align: center;
}

.menu__list>h3 {
    position: relative;
    font-family: jhr;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    color: #333;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
}

.menu__list>h3:after {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

.list__box2 {
    width: 100%;
}

.list__box2>ul {
    width: 100%;
    text-align: left;
}

.list__box2>ul>li {
    width: calc(33.333% - 14px);
    margin: 15px 5px 0 5px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    min-height: 110px;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 120px;
    position: relative;
    border: 1px solid #ddd;
    text-align: left;
}

.items {
    margin-top: 5px;
    white-space:pre-line;
}
.item__box {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.text {
    font-size: 14px;
    color: #666666;
    letter-spacing: -0.025em;   
}

.text>strong {
    font-size: 24px;
    font-family: jhr;
    font-weight: 600;
    color: #222;
    line-height: 32px;
    display: block;
}

.vegan {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 0 7px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    background: #226140;
    border-radius: 20px;
}

.text>p {
    font-size: 16px;
    color: #666;
    line-height: 28px;
    font-weight: 200;
}

/* 서브 토핑 */
.list__box3 {
    width: 100%;
    padding: 80px 0;
    box-sizing: border-box;
    position: relative;
    margin-top: 80px;
    margin-bottom: -100px !important;
}

.list__box3:after {
    position: absolute;
    content: '';
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    background: #f6f6f6;
    z-index: -1;
}

.list__box3>h3 {
    position: relative;
    font-family: jhr;
    font-weight: 600;
    font-size: 42px;
    line-height: 1.1em;
    letter-spacing: -0.02em;
    color: #333;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
}

.list__box3>h3:after {
    display: block;
    content: '';
    width: 30px;
    height: 3px;
    background: #333;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -15px;
}

/* 드레싱 */
.dressWrap {
    margin: -95px auto 50px;
    background: #fff;
    width: 100%;
    max-width: 1200px;
    position: Relative;
}

.dressWrap>ul {
    width: 100%;
    margin: 0 auto;
}

.dressWrap>ul>li {
    width: 50%;
    display: inline-block;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;
    border: 1px solid #ddd;
    color: #666;
}

.dressWrap>ul>li:last-child {
    background: #226240;
    border: 1px solid #226240;
    color: #fff;
}

.dressWrap>ul>li:last-child a {
    color: #fff;
}

.dressWrap a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    color: #666;
}

/* 드링크 */
.side__box2 {
    width: 100%;
}

.side__box2>ul {
    width: 100%;
    text-align: left;
}

.side__box2>ul>li {
    width: calc(33.333% - 14px);
    margin: 15px 5px 0 5px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    min-height: 110px;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 120px;
    position: relative;
    border: 1px solid #ddd;
    text-align: left;
}

.side__box2>ul>li:nth-child(n+1):nth-child(-n+2) {
    min-height: 140px;
}