* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
li {
  list-style: none;
}

body, td, form, select, input, button, textarea, div, option, pre, p, span, blockquote, li, dt, dd, legend, label, h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button {
  border: 0;
  outline: 0;
}